/* ===========common css=============== */
* {
    margin: 0;
    padding: 0;
  }
  body{
    background: #eae9e9;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  .container {
    max-width: 1280px;
    margin: 0 auto;
  }

  .main_text{
    font-family: "Fira Sans", serif;
    font-weight: bold;
    color: #0E0E0E;

  }

  .btn{
    font-family: "Fira Sans", serif;
    font-weight: 600;
    background: #006A50;
    color: #ffffff;
    border-radius: 8px;
    border: 1px solid #006A50;
    transition: all linear .3s;
  }
  .btn:hover{
    color: #006A50;
    background: #ffffff;
    margin-top: -2px;
  }
  p{
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-size: 16px;
    color: rgba(14, 14, 14, .7);
    line-height: 24px;
  }

  .inner_tittel{
    font-family: "Fira Sans", serif;
    font-weight: bold;
    font-size: 20px;
    color: #0E0E0E;
    margin-block-end: 12px;
  }
  /* ===========common css=============== */
  /* ============ nav start============ */
  nav .navbar{
    background: palevioletred;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 31px;
  }
  nav .navbar h3{
    font-size: 32px;
    color: #0E0E0E;
  }
  nav .navbar button{
    font-weight: 600;
    padding: 15px 30px;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50; 
    transition: all linear .2s;
  }
  nav .navbar button:hover{
    background: #006A50;
    color: #ffffff;
    margin-top: -3px;
  }
  /* ============ nav end============ */
  /* ============ hero_section start============ */
  #hero_part{
    padding-block-start: 20px;
  }
  #hero_part .box{
    padding: 80px 60px;
    background: #C6E4D6;
    display: flex;
    justify-content: space-between;
    border-radius: 24px;
  }
  #hero_part .box .left p{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, .5);
    margin-block-end: 16px;
  }
  #hero_part .box .left h1{
    font-size: 56px;
    width: 600px;
    margin-block-end: 24px;
  }
  #hero_part .box .left button{
    padding: 17px 34px;
  }
  /* ============ hero_section end============ */
  /* ============ vision_section start============ */
 #vision_part{
    padding-block-start: 80px;
 }
 #vision_part h3{
    font-size: 40px;
    margin-block-end: 24px;
 }
 #vision_part .vision_box{
    margin-block-start: 32px;
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
 }
 #vision_part .vision_box .card{
    background: rgba(84, 144, 245, .2);
    border-radius: 16px;
    padding: 32px;
    width: 411px;
 }
 #vision_part .vision_box .card img{
    margin-block-end: 24px;
 }
 #vision_part .vision_box .card p{
    width: 347px;
    margin-block-end: 24px;
 }
 #vision_part .vision_box .card button{
    background: #5490F5;
    padding: 11px 20px;
    color: #ffffff;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #5490F5;
    transition: all linear .2s;

 }
 #vision_part .vision_box .card button:hover{
    background: #ffffff;
    color: rgba(84, 144, 245, .7);
    border: 1px solid rgba(84, 144, 245, .7);
 }
 #vision_part .vision_box .two_card{
    background: #C6E4D6;
    border-radius: 16px;
    padding: 32px;
    width: 411px;
 }
 #vision_part .vision_box .two_card img{
    margin-block-end: 24px;
 }
 #vision_part .vision_box .two_card p{
    width: 347px;
    margin-block-end: 24px;
 }
 #vision_part .vision_box .two_card button{
    background: #09A15C;
    padding: 11px 20px;
    color: #ffffff;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #09A15C;
    transition: all linear .2s;
 }
 #vision_part .vision_box .two_card button:hover{
    background: #ffffff;
    color: rgba(9, 161, 92, .7);
    border: 1px solid rgba(9, 161, 92, .7);
 }
 #vision_part .vision_box .three_card{
    background: #F7EBCF;
    border-radius: 16px;
    padding: 32px;
    width: 411px;
 }
 #vision_part .vision_box .three_card img{
    margin-block-end: 24px;
 }
 #vision_part .vision_box .three_card p{
    width: 347px;
    margin-block-end: 24px;
 }
 #vision_part .vision_box .three_card button{
    background: #FFC239;
    padding: 11px 20px;
    color: #ffffff;
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #FFC239;
    transition: all linear .2s;
 }
 #vision_part .vision_box .three_card button:hover{
    background: #ffffff;
    color: rgba(255, 194, 57, .7);
    border: 1px solid rgba(255, 194, 57, .7);
 }

  /* ============ vision_section end============ */
  /* ============ recent-news_section start============ */

  #recent-news{
    padding-block-start: 80px;
  }
  #recent-news h3{
    font-size: 40px;
    margin-block-end: 24px;
  }
  #recent-news .news_box{
    margin-block-start: 32px;
    scroll-margin-block-end: 24px;
    display: flex;
    column-gap: 32px;
    padding: 48px;
    border-radius: 24px;
    background: white;

  }
  #recent-news .news_box .image{
    width: 408px;
    border-radius: 24px;
  }
  #recent-news .news_box .image img{
    width: 408px;
    border-radius: 24px;
  }
  #recent-news .news_box .details h4{
    color: rgba(14, 14, 14, .8);
    margin-block-end: 12px;
    margin-block-start: 8px;

  }
  #recent-news .news_box .details img{
    margin-block-end: 12px;
  }
  #recent-news .news_box .details .time{
    display: flex;
    column-gap: 12px;
    margin-block-end: 12px;
  }
  #recent-news .news_box .details .full_detail{
    width: 744px;
    margin-block-end: 32px;
  }
  #recent-news .news_box .details button{
    padding: 13px 26px;
    margin-block-start: 20px;
  }
  /* ============ recent-news_section end============ */
  /* ============ donate_section start============ */
 #donate_part{
    padding-block: 80px;
    display: flex;
    justify-content: center;
 }
 #donate_part .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 #donate_part h3{
    font-size: 40px;
    text-align: center;
    margin-block-end: 24px;
 }
 #donate_part p{
    text-align: center;
    width: 1104px;
    margin: 0 auto;
 }
 #donate_part .payment_box{
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-block: 32px;
 }
 #donate_part .payment_box .amount{
    width: 240px;
    background: white;
    border-radius: 16px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(14, 14, 14, .15);
    transition: all linear .3s;
 }
 #donate_part .payment_box .second{
    background: #C6E4D6;
 }
 #donate_part .payment_box .amount:hover{
    background: #006A50;
    color: #ffffff;
 }
 #donate_part .payment_box .amount h3{
    margin-block-end: 0;
    color: rgba(14, 14, 14, .8);
    transition: all linear .3s;
}
#donate_part .payment_box .amount:hover h3{
       color: #ffffff;
}
 #donate_part input{
    width: 1132px;
    height: 64px;
    margin-block-end: 32px;
    background: white;
    border: 0;
    border-bottom: 1px solid rgba(14, 14, 14, .15);
    text-align: center;
 }
 #donate_part input::placeholder{
    color: rgba(14, 14, 14, .3);
    text-align: center;
 }
 #donate_part button{
    padding: 17px 34px;
    margin: 0 auto;
 }
  /* ============ donate_section end============ */
  /* ============ newsletter_part start============ */
 #newsletter_part .letter_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 395px;
    border-radius: 16px;
    background: #C6E4D6;
    margin-block-end: 80px;
 }
 #newsletter_part .letter_box h3{
    font-size: 40px;
    margin-block-end: 16px;
 }
 #newsletter_part .letter_box p{
    width: 622px;
    text-align: center;
    margin-block-end: 24px;
 }
 #newsletter_part .letter_box .input{
    position: relative;
    margin-block-end: 24px;
 }
 #newsletter_part .letter_box .input input{
    width: 750px;
    height: 56px;
    border-radius: 16px;
    border: 0;
    margin-block-end: 24px;
    /* text-align: center; */
    padding-inline-start: 40px;
 }
 #newsletter_part .letter_box .input input::placeholder{
    color: rgba(14, 14, 14, .3);
 }
 #newsletter_part .letter_box .input button{
    position: absolute;
    right: 0;
    top: 0;
    padding: 19px 34px;
    border-radius: 0 8px 8px 0;
 }
 #newsletter_part .letter_box .input button:hover{
    margin-top: 0;
 }




  /* ============ newsletter_part end============ */